<h1>Edit a politician form</h1>

<%= form_with model: @politician do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :position %>
    <%= f.text_field :position %>
    <br>
    <%= f.label :party %>
    <%= f.text_field :party %>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <%= f.label :approval_rating %>
    <%= f.number_field :approval_rating %>
    <br>
    <br>
    <%= f.submit "Edit Politician" %>
<% end %>
