<h1>Sign up</h1>

<%= form_with model: @user, html: { class: "form" } do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Create Statement" %>
    <% if @errors %>
        <% @errors.each do |error|%>
            <%= error %>
        <% end %>
    <% end %>
<% end %>